<body>
<div class="container-lg mt-1 mb-3">
  <nav class="navbar navbar-expand-lg  rounded" style="background-color: rgba(14, 40, 64, 0.853)" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand fw-medium" routerLink="">
        <img class="me-2 mb-0 mt-0" src="asset/ChatGPT Image Apr 3, 2025, 06_49_51 PM.png" width="40" alt="icon1"/>All-In-One Helper</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navMenu">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-center">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="home" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/todo" routerLinkActive="active">To-do List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/decision" routerLinkActive="active">Decision Maker</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/budget" routerLinkActive="active">Budgeting App</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<router-outlet></router-outlet>
<div class="container-lg my-1">
<footer class="rounded text-white py-3" style="background-color: rgba(14, 40, 64, 0.853)">
  
</footer>
</div>
  
</body>

