<div class="container-lg">
    <h3 class="fw-bolder mt-2 text-center">To-do List</h3>
    <ul class="list-group my-3">
        <li class="list-group-item disabled" aria-disabled="true">A disabled item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
        <li class="list-group-item">A fourth item</li>
        <li class="list-group-item">And a fifth one</li>
    </ul>


    <div class="mb-3">
        <label for="taskTitle" class="form-label">Title:</label>
        <input type="text" class="form-control" id="taskTitle" placeholder="Enter the title of your task..." required>
    </div>
    <div class="mb-3">
        <label for="taskDescription" class="form-label">Description:</label>
        <textarea class="form-control" id="taskDescription" rows="3"
            placeholder="Describe your task in more detail if needed..."></textarea>
    </div>
    <div class="mb-3">
        <label for="dueDate" class="form-label">Due Date:</label>
        <input type="date" class="form-control" style="width: 15%;" id="dueDate">
    </div>
    <button type="submit" class="btn btn-primary">Submit Task</button>
</div>