<div class="container-lg">
    <div class="card  px-2">
        <h3 class="fw-bolder mt-2 text-center">To-do List</h3>
        <div *ngIf="taskList.length === 0" class="text-center py-4">
            <i class="bi bi-clipboard-plus fs-1 text-muted"></i>
            <p class="mt-3 text-muted">
                No tasks available. Add a new task below to get started!
            </p>
        </div>


        <ul class="list-group my-3">
            <li class="list-group-item d-flex align-items-center" *ngFor="let task of taskList">
                <button class="complete-btn btn btn-outline-secondary btn-sm  me-2" (click)="deleteTask(task.id)">
                    <i class="bi bi-check2-square"></i>
                </button>
                <div style="width: 25%;">{{task.title}}</div>
                <div style="width: 65%;">{{task.description}}</div>
                <div class="text-end" style="width: 10%;">{{task.dueDate}}</div>
                <button class="trash-btn btn btn-outline-secondary btn-sm  ms-2" (click)="permDelete(task)">
                    <i class="bi bi-trash3"></i>
                </button>
            </li>
        </ul>
    </div>

    <div class="card mt-3 pb-3 px-2">
        <form (ngSubmit)="addTask()">
            <div class="mb-3">
                <h3 class="fw-bolder mt-2 text-center">Enter your Tasks Here</h3>

                <label for="taskTitle" class="form-label">Title:</label>
                <input type="text" class="form-control" id="taskTitle" placeholder="Enter the title of your task..."
                    [(ngModel)]="newTask.title" name="taskTitle" required>
            </div>

            <div class="mb-3">
                <label for="taskDescription" class="form-label">Description (Optional):</label>
                <textarea class="form-control" id="taskDescription" rows="3"
                    placeholder="Describe your task in more detail if needed..." [(ngModel)]="newTask.description"
                    name="taskDescription"></textarea>
            </div>

            <div class="mb-3">
                <label for="dueDate" class="form-label">Due Date (Optional):</label>
                <input type="date" class="form-control" style="width: 15%;" id="dueDate" [(ngModel)]="newTask.dueDate"
                    name="dueDate">
            </div>
            <button type="submit" class="btn btn-primary">Submit Task</button>
        </form>
    </div>

    <div class="card px-2 my-3">
        <h3 class="fw-bolder mt-2 text-center">Completed Tasks</h3>

        <div *ngIf="completedTasks.length === 0" class="text-center py-4">
            <i class="bi bi-clipboard-check fs-1 text-muted"></i>
            <p class="mt-3 text-muted">
                Your completed tasks will go here. You can also return tasks to the list by by clicking the undo icon.
            </p>
        </div>

        <ul class="list-group my-3">
            <li class="list-group-item d-flex align-items-center" *ngFor="let completedTask of completedTasks">
                <button class="complete-btn btn btn-outline-secondary btn-sm  me-2" (click)="undoDeleteTask(completedTask.id)">
                    <i class="bi bi-arrow-counterclockwise"></i>
                </button>
                <div style="width: 25%;">{{completedTask.title}}</div>
                <div style="width: 65%;">{{completedTask.description}}</div>
                <div class="text-end" style="width: 10%;">{{completedTask.dueDate}}</div>
                <button class="trash-btn btn btn-outline-secondary btn-sm  ms-2" (click)="permDelete(completedTask)">
                    <i class="bi bi-trash3"></i>
                </button>
            </li>
        </ul>
        
    </div>

</div>